@media only screen and (max-width: 1080px) {

  .square {
  	position: absolute;
  	width: 0px;
  	height: 0px;
  }

  .square2 {
    width: 10px;
    height: 40px;
  }

  .square3 {
  		width: 10px;
  		height: 100px;
  }

      .texta {
          width: 70px;
          height: 42px;
          left: 778px;
          top: 73px;
          font-size: 76px;
          line-height: 42px;
      }

      .textb {
          width: 0px;
          height: 0px;
          left: 0px;
          top: 0px;
          font-size: 0px;
          line-height: 0px;
          opacity: 0;
      }

      .textc {
          width: 0px;
          height: 0px;
          left: 0px;
          top: 0px;
          font-size: 0px;
          line-height: 0px;
          opacity: 0;
      }

      .textd {
          width: 0px;
          height: 0px;
          left: 0px;
          top: 0px;
          font-size: 0px;
          line-height: 0px;
          opacity: 0;
      }

    #sidebar {
          width: 600px;
          height: 925px;
          position: fixed;
          z-index: 100;
          background: #57626F;
          border-right: 4px solid #E0E5EA;
          left: -609px;
          top: 10px;
          border-radius: 10px;
          padding-bottom: 10px;
          -moz-transition: all 300ms;
          -webkit-transition: all 300ms;
          transition: all 300ms;
      }

          #sidebar.active {
              left: 20px;
          }


          #sidebar ul li:first-child {
              color: white;
              text-align: center;
              padding: 35px 14px 35px 14px;
              font-size: 66px;
              list-style: none;
          }

          #sidebar ul li:not(:first-child) {
              width: 90%;
              margin-left: 10%;
              font-size: 1.1em;
              list-style: none;
              padding: 15px 10px;
          }

          #sidebar ul li a {
              color: #dfe5eb;
              text-decoration: none;
              font-size: 70px;
              line-height: 68px;
          }

              #sidebar ul li a:hover {
                  color: #59e9df
              }

          #sidebar .toggle-btn {
              width: 105px;
              height: 105px;
              position: absolute;
              background: #E0E5EA;
              border-radius: 14px;
              top: 20px;
              left: 640px;
              padding: 10px;
              cursor: pointer;
          }

              #sidebar .toggle-btn:hover {
                  background: #556270
              }

                  #sidebar .toggle-btn:hover span {
                      background: #fafafa
                  }

              #sidebar .toggle-btn span {
                  display: block;
                  width: 77px;
                  height: 13px;
                  margin: 19px 4px -2px 15px;
                  background-color: #666;
              }

        .container {
          position: absolute;
          max-width: 703px;
          height: 490px;
          margin: 0px auto;
          background: #f1f1f1;
          padding: 30px;
          border-radius: 16px;
          left: 85px;
          top: 256px;
        }

        h1 {
            text-align: center;
            margin-bottom: 40px;
        }

        button {
          position: relative;
              height: 703px;
              width: 100px;
              background: black;
              border-radius: 16px 16px 16px 16px;
              padding: 10px 24px;
              margin: 30px 30px 30px 30px;
              margin-left: 215px;
              font-size: .9rem;
              left: -245px;
              top: -733px;
              opacity: 0.5;
              z-index: 2;
        }

        .slider-prev {
          left: -245px;
          top: -733px;
          border-radius: 16px 0px 0px 16px;
        }

        .slider-next {
          left: 108px;
          top: -733px;
          border-radius: 0px 16px 16px 0px;
        }

        .img {
          position: absolute;
          left: 14px;
          top: 290px;
        }

        .image {
          position: absolute;
              left: 719px;
              top: 290px;
        }

        .slider {
            width: 803px;
            height: 703px;
            margin: -30px auto 0px -30px;
            overflow: hidden;
            border-radius: 16px;
        }

        .slider-line {
            width: 3212px;
            height: 703px;
            display: flex;
            border-radius: 16px;
            background: orange;
            position: relative;
            left: 0;
            transition: all ease 0.9s;

        }

      .textk {
        position: absolute;
            width: 663px;
            height: 38px;
            left: 216px;
            top: 1022px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 54px;
            line-height: 38px;
            color: #000000;
      }

      .textn {
        position: absolute;
        width: 806px;
        height: 112px;
        left: 89px;
        top: 1115px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 42px;
        color: #000000;
      }

      .textq {
          position: absolute;
          width: 0px;
          height: 0px;
          left: 0px;
          top: 0px;
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 42px;
          color: #000000;
          opacity: 0;
      }

      .textw {
          position: absolute;
          width: 0px;
          height: 0px;
          left: 0px;
          top: 0px;
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 42px;
          color: #000000;
          opacity: 0;
      }

      .textv {
      position: absolute;
      width: 0px;
      height: 0px;
      left: 0px;
      top: 0px;

      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 42px;
      opacity: 0;

      color: #000000;

      }

    .PriceBlock {
        position: absolute;
        left: 208px;
        top: 1432px;
    }
  }
