@media only screen and (max-width: 1080px) {

    .textf {
        width: 913px;
        height: 56px;
        left: 60px;
        top: 1265px;
        font-size: 58px;
    }

    .textg {
      width: 786px;
      height: 47px;
      left: 204px;
      top: 1344px;
      font-size: 58px;
    }

    .square {
      width: 1063px;
      height: 2681px;
      top: 2080px;
    }

    .square2 {
        color: white;
        width: 10px;
        height: 40px;
    }

    .square3 {
        color: white;
        width: 10px;
        height: 100px;
    }

    .textp {
        left: 1015px;
        top: 1890px;
    }

    .texto {
        left: 689px;
        top: 1956px;
    }

    .textr {
        left: 1075px;
        top: 2236px;
    }

    .textw {
        left: 789px;
        top: 2400px;
    }

    .textj {
        left: 1200px;
        top: 2780px;
    }

    .texty {
        left: 789px;
        top: 2844px;
    }

    .photo {
        left: 122px;
        top: 519px;
    }

    .photob {
        left: 40px;
        top: 1605px;
    }

    .texth {
        width: 199px;
        height: 56px;
        left: 196px;
        top: 1654px;
        font-size: 34px;
        line-height: 25px;
    }

    #sidebar {
        width: 600px;
        height: 925px;
        position: fixed;
        background: #57626F;
        border-right: 4px solid #E0E5EA;
        left: -609px;
        top: 10px;
        border-radius: 10px;
        padding-bottom: 10px;
        -moz-transition: all 300ms;
        -webkit-transition: all 300ms;
        transition: all 300ms;
    }

        #sidebar.active {
            left: 20px;
        }


        #sidebar ul li:first-child {
            color: white;
            text-align: center;
            padding: 35px 14px 35px 14px;
            font-size: 66px;
            list-style: none;
        }

        #sidebar ul li:not(:first-child) {
            width: 90%;
            margin-left: 10%;
            font-size: 1.1em;
            list-style: none;
            padding: 15px 10px;
        }

        #sidebar ul li a {
            color: #dfe5eb;
            text-decoration: none;
            font-size: 70px;
            line-height: 68px;
        }

            #sidebar ul li a:hover {
                color: #59e9df
            }

        #sidebar .toggle-btn {
            width: 105px;
            height: 105px;
            position: absolute;
            background: #E0E5EA;
            border-radius: 14px;
            top: 20px;
            left: 640px;
            padding: 10px;
            cursor: pointer;
        }

            #sidebar .toggle-btn:hover {
                background: #556270
            }

                #sidebar .toggle-btn:hover span {
                    background: #fafafa
                }

            #sidebar .toggle-btn span {
                display: block;
                width: 77px;
                height: 13px;
                margin: 19px 4px -2px 15px;
                background-color: #666;
            }

    .texta {
        width: 70px;
        height: 42px;
        left: 828px;
        top: 73px;
        font-size: 76px;
        line-height: 42px;
    }

    .textb {
        width: 0px;
        height: 0px;
        left: 0px;
        top: 0px;
        font-size: 0px;
        line-height: 0px;
        opacity: 0;
    }

    .textc {
        width: 0px;
        height: 0px;
        left: 0px;
        top: 0px;
        font-size: 0px;
        line-height: 0px;
        opacity: 0;
    }

    .textd {
        width: 0px;
        height: 0px;
        left: 0px;
        top: 0px;
        font-size: 0px;
        line-height: 0px;
        opacity: 0;
    }

    .photo3 {
        width: 30px;
        height: 100px;
        left: 233px;
        top: 2206px;
    }

    .textp {
        width: 723px;
        height: 47px;
        left: 198px;
        top: 2827px;
        font-size: 57px;
        line-height: 47px;
    }

    .texto {
        width: 993px;
        height: 76px;
        left: 55px;
        top: 2894px;
        font-size: 37px;
        line-height: 38px;
  }

    .photo4 {
        width: 30px;
        height: 100px;
        left: 233px;
        top: 3047px;
    }

    .textr {
      width: 517px;
      height: 47px;
      left: 291px;
      top: 3668px;
      font-size: 57px;
      line-height: 47px;
    }

    .textw {
      width: 906px;
          height: 76px;
          left: 81px;
          top: 3730px;
          font-size: 37px;
          line-height: 38px;
    }

    .photo5 {
      width: 30px;
      height: 100px;
      left: 233px;
      top: 3851px;
    }

    .textj {
      width: 100px;
      height: 47px;
      left: 474px;
      top: 4465px;
      font-size: 47px;
      line-height: 47px;
    }

    .texty {
      width: 871px;
      height: 76px;
      left: 103px;
      top: 4520px;
      font-size: 37px;
      line-height: 38px;
    }
}
