
.texta {
	position: absolute;
	width: 86px;
	height: 42px;
	left: 38px;
	top: 25px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
}

.textb {
	position: absolute;
	width: 118px;
	height: 28px;
	left: 735px;
	top: 40px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}

.textc {
	position: absolute;
	width: 117px;
	height: 28px;
	left: 920px;
	top: 40px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}

.textd {
	position: absolute;
	width: 74px;
	height: 28px;
	left: 1095px;
	top: 40px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}

.square {
	position: absolute;
	width: 125px;
	height: 3px;
	left: 720px;
	top: 75px;
	animation-name: padder-square;
	animation-duration: 1.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background: #000000;
	border-radius: 10px;
}






.box {
	box-sizing: border-box;
	position: absolute;
	width: 392px;
	height: 238px;
	left: 318px;
	top: 195px;
	animation-name: BoxesFir;
	animation-duration: 1.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background: #FFFFFF;
	border: 2px solid #000000;
}

.photoone {
	position: absolute;
	width: 392px;
	height: 238px;
	left: 320px;
	top: 197px;
	animation-name: BoxesFirPhoto;
	animation-duration: 1.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.box2 {
	box-sizing: border-box;
	position: absolute;
	width: 392px;
	height: 238px;
	left: 769px;
	top: 195px;
	animation-name: BoxesSec;
	animation-duration: 1.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background: #FFFFFF;
	border: 2px solid #000000;
}

.phototwo {
	position: absolute;
	width: 392px;
	height: 238px;
	left: 771px;
	top: 197px;
	animation-name: BoxesSecPhoto;
	animation-duration: 1.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.box3 {
	box-sizing: border-box;
	position: absolute;
	width: 392px;
	height: 238px;
	left: 1220px;
	top: 195px;
	animation-name: BoxesThird;
	animation-duration: 1.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background: #FFFFFF;
	border: 2px solid #000000;
}

.photothree {
	position: absolute;
	width: 392px;
	height: 238px;
	left: 1222px;
	top: 197px;
	animation-name: BoxesThirdPhoto;
	animation-duration: 1.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.box4 {
	box-sizing: border-box;
	position: absolute;
	width: 392px;
	height: 238px;
	left: 318px;
	top: 495px;
	animation-name: BoxesFir;
	animation-duration: 1.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background: #FFFFFF;
	border: 2px solid #000000;
}

.photofour {
	position: absolute;
	width: 392px;
	height: 238px;
	left: 320px;
	top: 497px;
	animation-name: BoxesFirPhoto;
	animation-duration: 1.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.box5 {
	box-sizing: border-box;
	position: absolute;
	width: 392px;
	height: 238px;
	left: 769px;
	top: 495px;
	animation-name: BoxesSec;
	animation-duration: 1.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background: #FFFFFF;
	border: 2px solid #000000;
}

.photofive {
	position: absolute;
	width: 392px;
	height: 238px;
	left: 771px;
	top: 497px;
	animation-name: BoxesSecPhoto;
	animation-duration: 1.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.box6 {
	box-sizing: border-box;
	position: absolute;
	width: 392px;
	height: 238px;
	left: 1220px;
	top: 495px;
	animation-name: BoxesThird;
	animation-duration: 1.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background: #FFFFFF;
	border: 2px solid #000000;
}

.photosix {
	position: absolute;
	width: 392px;
	height: 238px;
	left: 1222px;
	top: 497px;
	animation-name: BoxesThirdPhoto;
	animation-duration: 1.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}






.sl {
	box-sizing: border-box;
	position: absolute;
	width: 47px;
	height: 47px;
	left: 893px;
	top: 835px;
	background: #FFFFFF;
	border: 3px solid #000000;
	border-radius: 10px;
}

button {
	width: 42px;
	height: 42px;
	opacity: 0;
}

.sf {
	box-sizing: border-box;
	position: absolute;
	width: 47px;
	height: 47px;
	left: 993px;
	top: 835px;
	background: #FFFFFF;
	border: 3px solid #000000;
	border-radius: 10px;
}

button {
	width: 42px;
	height: 42px;
	opacity: 0;
}

.textx {
	position: absolute;
	width: 16px;
	height: 42px;
	left: 960px;
	top: 837px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
}

.photoa {
	position: absolute;
	left: 891px;
	top: 836px;
}

.photob {
	position: absolute;
	left: 995px;
	top: 836px;
}

a {
	text-decoration: none;
	color: black;
}




@keyframes BoxesFir {
	0% {
		left: 18px;
	}

	100% {
		left: 318px;
	}
}

@keyframes BoxesFirPhoto {
	0% {
		left: 20px;
	}

	100% {
		left: 320px;
	}
}

@keyframes BoxesSec {
	0% {
		left: 469px;
	}

	100% {
		left: 769px;
	}
}

@keyframes BoxesSecPhoto {
	0% {
		left: 471px;
	}

	100% {
		left: 771px;
	}
}


@keyframes BoxesThird {
	0% {
		left: 920px;
	}

	100% {
		left: 1220px;
	}
}

@keyframes BoxesThirdPhoto {
	0% {
		left: 922px;
	}

	100% {
		left: 1222px;
	}
}

@keyframes BoxesFir {
	0% {
		left: 18px;
	}

	100% {
		left: 318px;
	}
}

@keyframes BoxesFirPhoto {
	0% {
		left: 20px;
	}

	100% {
		left: 320px;
	}
}

@keyframes BoxesSec {
	0% {
		left: 469px;
	}

	100% {
		left: 769px;
	}
}

@keyframes BoxesSecPhoto {
	0% {
		left: 471px;
	}

	100% {
		left: 771px;
	}
}


@keyframes BoxesThird {
	0% {
		left: 920px;
	}

	100% {
		left: 1220px;
	}
}

@keyframes BoxesThirdPhoto {
	0% {
		left: 922px;
	}

	100% {
		left: 1222px;
	}
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Raleway';
}

#sidebar {
	width: 250px;
	position: fixed;
	background: #57626F;
	border-right: 4px solid #E0E5EA;
	right: -260px;
	top: 10px;
	border-radius: 10px;
	padding-bottom: 10px;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}

	#sidebar.active {
		right: 20px;
	}


	#sidebar ul li:first-child {
		color: white;
		text-align: center;
		padding: 25px 10px 10px 10px;
		font-size: 1.95em;
		list-style: none;
		font-weight: 900;
	}

	#sidebar ul li:not(:first-child) {
		width: 90%;
		margin-left: 10%;
		font-size: 1.1em;
		list-style: none;
		padding: 15px 10px;
	}

	#sidebar ul li a {
		color: white;
		font-weight: 900;
		text-decoration: none;
	}

		#sidebar ul li a:hover {
			color: #59e9df
		}

	#sidebar .toggle-btn {
		position: absolute;
		background: #E0E5EA;
		border-radius: 12px;
		top: 20px;
		right: 285px;
		padding: 10px;
		cursor: pointer;
	}

		#sidebar .toggle-btn:hover {
			background: #556270
		}

			#sidebar .toggle-btn:hover span {
				background: #fafafa
			}

		#sidebar .toggle-btn span {
			display: block;
			width: 25px;
			height: 4px;
			margin: 4px 0;
			background-color: #666;
		}
